@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');
@import './equalizer.scss';
@import './variables/colors.scss';

body {
  font: 14px 'Roboto', sans-serif;
  margin: 20px;
  padding: 0;
}

ol, ul {
  padding-left: 30px;
}

main {
  display: grid;
}