@import 'variables/colors';

.login {
  display: grid;
  margin: 20px;
}

.login > input {
  grid-column: 1/3;
  border-bottom: 1px solid $silver;
}

.login > label {
  font-weight: bold;
  grid-column: 1/3;
  padding-top: 10px;
}

.submit {
  border: 1px solid $silver;
  border-radius: 5px;
  font-weight: bold;
  grid-column: 1/3;
  margin: 10px;
  padding: 8px;

  &:hover {
    color: $white;
    background-color: $cerulean;
  }
}

