.tech-card-content {
  background-color: $earls-green;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  height: 300px;
  justify-content: space-evenly;
  max-width: 200px;
  padding: 15px;
  position: relative;

  &::before {
    border: 1px solid $earls-green;
    border-radius: 5px;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
  }

  .tech-card-header {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
      
    .tech-card-logo {
      width: 100px;
    }
      
    .tech-card-name {
      font-size: 16px;
      margin: 5px 0;
    }
      
    .tech-card-date {
      font-size: 16px;
      font-weight: bold;
      margin: 5px 0;
    }
  }
      
  .tech-card-info {
    font-size: 12px;
    text-align: center;
  }
}


