.techs {
  display: flex;
  flex-flow: row wrap;
  margin-left: 80px;
  width: 80%;
}

.tech-card {
  flex-basis: 20%;
  height: 300px;
  margin: 20px;
  max-width: 200px;
  position: relative;
  width: 200px;

  &::before {
    border: 1px solid #BED23C;
    border-radius: 5px;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
  }

  .tech-card-content {
    background-color: $earls-green;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 15px;
    position: relative;
    width: 100%;

    .tech-card-header {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      
      .tech-card-logo {
        height:100px;
        width: 100px;

        &.react-logo {
          background: url('./assets/tech-logos/react_icon.svg') center/contain no-repeat;
        }

        &.angular-logo {
          background: url('./assets/tech-logos/angular_icon.svg') center/contain no-repeat;
        }

        &.vue-logo {
          background: url('./assets/tech-logos/vue_icon.svg') center/contain no-repeat;
        }

        &.elm-logo {
          background: url('./assets/tech-logos/elm_icon.svg') center/contain no-repeat;
        }

        &.polymer-logo {
          background: url('./assets/tech-logos/polymer_icon.svg') center/contain no-repeat;
        }

        &.rails-logo {
          background: url('./assets/tech-logos/rails_icon.png') center/contain no-repeat;
        }

        &.node-logo {
          background: url('./assets/tech-logos/express_icon.svg') center/contain no-repeat;
        }

        &.net-logo {
          background: url('./assets/tech-logos/aspnet_icon.png') center/contain no-repeat;
        }

        &.django-logo {
          background: url('./assets/tech-logos/django_icon.svg') center/contain no-repeat;
        }
      }
      
      .tech-card-name {
        font-size: 16px;
        margin: 5px 0;
      }
      
      .tech-card-date {
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0;
      }
    }
      
    .tech-card-info {
      font-size: 12px;
      text-align: center;
    }
  }
}

