.techs-section {
  position: relative;
}

.techs {
  display: flex;
  flex-flow: row wrap;
  margin-left: 80px;
}

.tech-card {
  align-items: center;
  background-color: $earls-green;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  height: 300px;
  justify-content: space-evenly;
  padding: 15px;
  position: relative;
  max-width: 200px;
  margin: 20px;

  &::before {
    border: 1px solid #BED23C;
    border-radius: 5px;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
  }
      
  .tech-card-logo {
    max-width: 100px;
    height: 100px;
  }
      
  .tech-card-name {
    font-size: 16px;
    margin: 5px 0;
  }
            
  .tech-card-date {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
  }
      
  .tech-card-info {
    font-size: 12px;
    text-align: center;
  }
}

