.titles {
  margin: 30px;
  min-height: 90px;
  padding: 30px;
  width: 100%;
  
  &::before {
    content: '';
    background: url(./assets/triangle.svg) left center/contain no-repeat;
    height: 90px;
    left: 8px;
    position: absolute;
    top: 20px;
    width: 70px;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {

  .titles {
    text-align: center;

    &::before {
      left: initial;
      transform: translate(-75%);
    }
  }
}
