.titles-content {
  position: relative;
  min-height:90px;
}

.titles-decoration {
  position: absolute;
  background: url('./assets/triangle.svg') left center/contain no-repeat;  
  width: 70px;
  height: 90px;
}

.titles-text {
  position: absolute;
  width: 100%;
  left: 5%;
  top: 40%;
  font-size: 18px;
}
