@import '../../../scss/variables/colors.scss';

.main {
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px $silver;
  display: flex;
  flex-flow: column wrap;
  grid-column: 2/3;
  justify-content: center;
  justify-self: center;
  max-width: 400px;
  margin-top: 30px;
  padding: 20px;
}

.email {
  margin: 15px;
  font-style: italic;
}

.name {
  font-weight: bold;
}

.about {
  margin: 15px;
  text-align: justify;
}